.tabContent {
    display: none;
}
.tabLinks{
    background-color: aliceblue;
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;

}
 .tabsContainer .active{
    background-color:burlywood;
}

.tabsContent .active{
    display: block;
}