/* body *{
    border: 1px solid red;
    padding: 10px;
}

.products{
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 10px;
}
.products > span{
    background-color: bisque;
    padding: 10px;
} s*/

.modalContainer{
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(221,221,221,0.5);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
}
